$primary-color: #bc5a45;
$secondary-color: #f18973;
$acent-color: #588c7e;
$light-color: #f4e1d2;
$neutral-color: #b2b2b2;

$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
